<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>

    <!-- style -->
    <link rel="stylesheet" href="/styles/shared.css">
</head>

<body>

    <!-- header -->
    <%- include('includes/header') %>
    <main>
        <h1 class="heading_text">Make the world a tastier place!</h1>
        <p class="sub_heading_text">Share your favorite restaurants or find recommendations of other users!</p>
        <div class="cards_section">
            <div class="card" id="card_1"></div>
            <div class="card" id="card_2"></div>
        </div>
    </main>
</body>

</html>