<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Page</title>

    <!-- style -->
    <link rel="stylesheet" href="/styles/shared.css">
</head>

<body>

    <!-- header -->
    <%- include('includes/header') %>
        <main>
            <h1 class="heading_text">Recommend restaurants</h1>
            <p class="sub_heading_text">Find your next favorite restaurant with the help of other users!</p>
            <p>We found <%= number_of_restaurants %> restaurants</p>

            <!-- list -->
            <ul>
                <% for(const restaurant_1 of restaurants) { %>
                    <%- include('includes/restaurants-item.ejs', {restaurant : restaurant_1}) %>
                        <% } %>
            </ul>
        </main>
</body>

</html>