<header>
    <div class="logo">
        <a href="/index" target="_self" rel="noopener noreferrer">EatWell</a>
    </div>
    <div class="navbar">
        <div class="nav_item">
            <a href="/restaurants" target="_self">Browse Restaurants</a>
        </div>
        <div class="nav_item">
            <a href="/recommend" target="_self">Share a Restaurants</a>
        </div>
        <div class="nav_item">
            <a href="/about" target="_self">About EatWell</a>
        </div>
    </div>
</header>